<%= render 'paintings/header' %>
<div id="inner">
  <div id="content-sidebar-wrap">
    <div class="entry">


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Body</th>
      <th>Year</th>
      <th>Material</th>
      <th>Genre</th>
      <th>Location</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paintings.each do |painting| %>
      <tr>
        <td><%= painting.title %></td>
        <td><%= painting.artist %></td>
        <td><%= painting.body %></td>
        <td><%= painting.year %></td>
        <td><%= painting.material %></td>
        <td><%= painting.genre %></td>
        <td><%= painting.location %></td>
        <td><%= image_tag (painting.image), style: "width:200px" %></td>
        <td><%= link_to 'Show', painting %></td>
        <td><%= link_to 'Edit', edit_painting_path(painting) %></td>
        <td><%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Painting', new_painting_path %>
    </div>
  </div>
</div>